<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="customListener.Listener"/>
    </listeners>
    <test name="armor code">
        <classes>
            <class name="testprograms.login"/>
        </classes>
    </test>
</suite>