<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
<!--    <listeners>-->
<!--        <listener class-name="customListener.Listener"/>-->
<!--    </listeners>-->
    <test name="product and Sub product tests">
        <classes>
            <class name="testPrograms.ac_subProductTestScripts"/>
        </classes>
    </test>
</suite>